.interest,
.monthly,
.yearly {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
.box {
  box-shadow: 2px 2px 9px 2px darkgrey;
  width: 400px;
  height: 170px;
  margin-left: auto;
}
.res {
  text-align: center;
  background: rgb(1, 70, 103);
  font-size: 18px;
  color: white;
  margin: 0;
}
h3 {
  margin: 0;
  height: 40px;
  text-align: left;
  line-height: 40px;
}
hr {
  margin: 0;
}
